<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <section layout:fragment="corpo">
        <div class="container-fluid">
            <div class="row ">
                <div class="col col-sm-12 col-md-6 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <h5 class="card-title">Título do Card</h5>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad repudiandae, ratione unde perferendis libero corrupti architecto dolorem quam dicta molestias quisquam rerum ut laborum provident voluptatem ipsa facilis vitae molestiae.
                            </p>
                            <span class="badge rounded-pill text-bg-primary">Primary</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>